.toasty {
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  overflow: hidden;

  .main-container {    
    margin: 0;
    padding: 0;
    display: block;
  }

  &.start{
    background-color: #4a148c;
    display: inline;
    
    
    img {
      padding: 10% 0 0 0 !important;
      animation-duration: 1s;
      animation-delay: 0.2s;
      animation-iteration-count: 1;
      filter: blur(0px);
    }
  }

  &.wait{
    background: #795548;
    display: inline;
    
    img {
      padding: 10% 0 0 0 !important;
      animation-duration: 3s;
      animation-delay: 0.2s;
      animation-iteration-count: infinite;
      filter: blur(0px);
    }
  }
}